<%= render 'restaurants/header' %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://source.unsplash.com/featured/?<%= @restaurant.category.downcase %>&<%= rand(1000) %>/800x333);">
  <div class="container">
  </div>
</div>

<div class="container">

<h1><%= @restaurant.name %></h1>

<div class="card-product">
  <div class="card-product-infos">
    <h2><%= @restaurant.category.capitalize() %></h2>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>
</div>


<h2>Menu</h2>


<%= link_to "Add Review!", new_restaurant_review_path(@restaurant), class: "btn btn-flat" %>

<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><%= review.content %></h2>
        <div class="d-flex">
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
    </div>
  </div>
<% end %>
</div>
